/* Global styles */
/* :root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-link-color: #121212;
    --bs-link-hover-color: ##161921;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
} */


/* body {
    overflow-x: hidden !important;
    background: url(/assets/images/bg.jpg) repeat-y top center;
    font-size: 16px;
    background-size: 100% auto;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    letter-spacing: normal;
    line-height: 1.75;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

/* .body-wrap {
    overflow-x: hidden;
} */

/* Local Styles */

/* navbar*/
.cta-color {
    color: #EB5021;
}

.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.navbar-sticky {
    transform: translateY(0%);
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    opacity: 1;
}

.headroom--unpinned .navbar-sticky,
.offcanvas-push .navbar-sticky {
    transform: translateY(-100%);
    opacity: 0;
}

.headroom--not-top .navbar-sticky {
    padding: 1rem 0;
}

.headroom--not-top .navbar-sticky.navbar-dark {
    background: #000;
}

.headroom--not-top .navbar-sticky.navbar-light {
    background: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: initial;
}

.navbar-active .navbar-dark {
    background: #000;
}

.navbar-active .navbar-light {
    background: #fff;
}

.navbar-nav {
    margin-top: 1rem;
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-top: 0;
    }
}

.navbar-nav .nav-link:focus {
    outline: none;
    box-shadow: none;
}

@media (min-width: 992px) {
    .navbar-nav .nav-link {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

.navbar-nav .nav-icon {
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.navbar-nav .nav-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav .nav-icon .bi-list {
    font-size: 1.375rem;
    margin-top: 2px;
}

.navbar-nav-secondary {
    margin-top: 0;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 991.98px) {
    .navbar-nav-secondary .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.account-collapse {
    flex-basis: 100%;
    flex-grow: 1;
}

.navbar-brand img {
    width: auto;
    max-height: 2.5rem;
}

@media (max-width: 575.98px) {
    .navbar-brand {
        margin: 0;
    }
}

.navbar-dark .btn-outline-white {
    border-color: rgba(255, 255, 255, 0.25);
}

.navbar-light .navbar-menu .nav-link {
    color: #000;
    border-color: #ddd;
}

.navbar-light .navbar-menu .nav-link:hover,
.navbar-light .navbar-menu .nav-link[aria-expanded="true"] {
    background: #ddd;
    border-color: transparent;
}

.navbar-active {
    overflow: hidden;
}

.navbar-active .navbar {
    max-height: 100vh;
    overflow-y: scroll;
}

.navbar-active.headroom--unpinned .navbar-sticky {
    padding: 2rem 0;
    transform: translateY(0);
    opacity: 1;
}

.badge {
    vertical-align: middle;
}

.dropdown:focus {
    outline: none;
    box-shadow: none;
}

.dropdown>a:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1rem;
    border: 0;
}

.dropdown-menu .dropdown-item {
    background: transparent;
    position: relative;
    padding: .25rem 1rem;
    font-size: .875rem;
    color: #555;
}

.dropdown-menu .dropdown-item:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active {
    padding-left: .75rem;
    padding-right: 1.25rem;
    background: transparent;
    color: #000;
}

.dropdown-menu .dropdown-item.active {
    color: #4726e1;
    background: transparent;
}

.dropdown-menu .dropdown-item.active:hover,
.dropdown-menu .dropdown-item.active:active {
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown-menu .dropdown-item span {
    display: block;
}

.dropdown-menu .dropdown-label {
    display: inline-block;
    background: transparent;
    position: relative;
    padding: .25rem 1rem;
    font-size: .875rem;
}

.dropdown-menu .dropdown-label:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu .dropdown-label:not(:first-child) {
    margin-top: 1rem;
}

.dropdown-menu-detailed li+li {
    margin-top: .5rem;
}

.dropdown-menu-detailed li span {
    position: relative;
    padding-left: 2.5rem;
}

.dropdown-menu-detailed li span .bi {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.5em;
    font-size: 1.5rem;
    color: #000;
}

.dropdown-menu-detailed li span small,
.dropdown-menu-detailed li span .small {
    display: block;
    font-size: .875rem;
    color: #777;
}

@media (min-width: 992px) {
    .dropdown .dropdown-menu {
        transform: translate(-50%, 0);
        left: 50%;
    }

    .dropdown .dropdown-menu[class*="-md"] {
        min-width: 25vw;
        -moz-column-count: 2;
        column-count: 2;
    }

    .dropdown .dropdown-menu[class*="-custom"] {
        min-width: 30vw;
        padding: 0;
    }

    .dropend .dropdown-menu {
        transform: translate(0, 0);
        left: 100%;
        top: -1.5rem;
    }

    .dropend .dropdown-toggle::after {
        position: absolute;
        top: 50%;
        right: .75rem;
        margin-top: -2px;
        border-width: .25rem 0 .25rem .25rem;
        border-style: solid;
        color: #ced4da;
    }

    .dropdown-hover>.dropdown-menu {
        transition: all 0.2s ease-in-out;
        display: block;
        pointer-events: none;
        opacity: 0;
        margin: .625rem 0 0 0;
    }

    .dropdown-hover:hover>.dropdown-menu {
        opacity: 1;
        pointer-events: auto;
        margin: 0;
    }

    .dropdown-hover>.dropdown-toggle::after {
        display: none;
    }

    .dropend-hover:hover>.dropdown-menu {
        opacity: 1;
        pointer-events: auto;
        margin: 0;
    }

    .dropend-hover>.dropdown-menu {
        transition: all .2s;
        transition-delay: 0s;
        display: block;
        pointer-events: none;
        margin: 0 0 0 .625rem;
        opacity: 0;
    }
}


/* navbar*/
/* border line fill */
.border-line-fill {
    --c: #000000;
    /* the border color */
    --b: 2px;
    /* the border thickness*/
    --g: 5px;
    /* the gap on hover */

    padding: calc(var(--g) + var(--b));
    --_g: #000000 25%, var(--c) 0;

    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
        conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
    border-radius: 3px;
}

.border-line-fill:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
    color: white !important;

}

/* border line fill */

/* button animation */
.ec-btn {
    display: inline;
}


.ec-btn_more {
    position: relative;
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
    color: inherit;
    background: 0 0;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 0 !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;
    text-indent: inherit;
    text-decoration: none;
}

.ec-btn_more:focus,
.ec-btn_more:hover,
.ec-checkbox_rounded label>input:focus~.ec-btn_more.ec-checkbox_rounded-box {
    text-decoration: none;
}

.ec-btn_more {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 57px;
    padding: 0 32px;
    -webkit-border-radius: 47px;
    -moz-border-radius: 47px;
    border-radius: 47px;
}

@media (min-width:1200px) {
    .ec-btn_more {
        height: 56px;
        padding: 0 32px;
        min-width: 135px;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
    }
}

.ec-btn_more:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    /* border: 1px #000000 solid; */
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: border-color .2s;
    -o-transition: border-color .2s;
    -moz-transition: border-color .2s;
    transition: border-color .2s;
}

.ec-btn_more[data-magnetic]:before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
}

.ec-btn_more svg {
    position: relative;
    z-index: 2;
    margin: 0 9px 0 0;
    font-size: 23px;
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    -moz-transition: color .4s;
    transition: color .4s;
}

@media (min-width:768px) {
    .ec-btn_more svg {
        margin: 0 12px 0 0;
        font-size: 28px;
    }
}

.ec-btn_more-title {
    position: relative;
    top: -1px;
    display: block;
    overflow: hidden;
    z-index: 2;
}

.ec-btn_more-title span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: color .2s, -webkit-transform .4s;
    transition: color .2s, -webkit-transform .4s;
    -o-transition: color .2s, -o-transform .4s;
    -moz-transition: color .2s, transform .4s, -moz-transform .4s;
    transition: color .2s, transform .4s;
    transition: color .2s, transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s;
}

@media (min-width:1200px) {
    .ec-btn_more-title span {
        font-size: 16px;
    }
}

.ec-btn_more-title span:after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 150%;
    left: 0;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: -o-transform .4s;
    -moz-transition: transform .4s, -moz-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s;
}

.ec-btn_more-ripple {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}

.ec-btn_more-ripple span {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    background: currentColor;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .5s cubic-bezier(.4, 0, 0, 1), -webkit-border-radius .5s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .5s cubic-bezier(.4, 0, 0, 1), -webkit-border-radius .5s cubic-bezier(.4, 0, 0, 1);
    -o-transition: border-radius .5s cubic-bezier(.4, 0, 0, 1), -o-transform .5s cubic-bezier(.4, 0, 0, 1);
    -moz-transition: transform .5s cubic-bezier(.4, 0, 0, 1), border-radius .5s cubic-bezier(.4, 0, 0, 1), -moz-transform .5s cubic-bezier(.4, 0, 0, 1), -moz-border-radius .5s cubic-bezier(.4, 0, 0, 1);
    transition: transform .5s cubic-bezier(.4, 0, 0, 1), border-radius .5s cubic-bezier(.4, 0, 0, 1);
    transition: transform .5s cubic-bezier(.4, 0, 0, 1), border-radius .5s cubic-bezier(.4, 0, 0, 1), -webkit-transform .5s cubic-bezier(.4, 0, 0, 1), -moz-transform .5s cubic-bezier(.4, 0, 0, 1), -o-transform .5s cubic-bezier(.4, 0, 0, 1), -webkit-border-radius .5s cubic-bezier(.4, 0, 0, 1), -moz-border-radius .5s cubic-bezier(.4, 0, 0, 1);
}

.ec-btn_more.-inverse {
    color: #000;
}

.ec-btn_more.-inverse:after {
    border: 0;
    background: #fff;
}

.ec-btn_more.-inverse .ec-btn_more-ripple span {
    background: #000;
}

.ec-btn_more.-danger {
    color: #fff;
}

.ec-btn_more.-danger:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: #ff424d;
}

.ec-btn_more.-danger .ec-btn_more-ripple span {
    background: #ff2935;
}

@media (pointer:fine) {
    .ec-btn_more:hover .ec-btn_more-title span {
        color: #fff;
        -webkit-transform: translateY(-150%) skewY(-7deg);
        -moz-transform: translateY(-150%) skewY(-7deg);
        -ms-transform: translateY(-150%) skewY(-7deg);
        -o-transform: translateY(-150%) skewY(-7deg);
        transform: translateY(-150%) skewY(-7deg);
    }
}

@media (pointer:fine) {
    .ec-btn_more:hover .ec-btn_more-title span:after {
        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
        transform: skewY(7deg);
    }
}

@media (pointer:fine) {
    .ec-btn_more:hover .ec-btn_more-ripple span {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition-duration: 0s, 0s;
        -moz-transition-duration: 0s, 0s;
        -o-transition-duration: 0s, 0s;
        transition-duration: 0s, 0s;
        -webkit-animation: ec-checkbox_rounded-ripple-in .5s cubic-bezier(.4, 0, 0, 1);
        -moz-animation: ec-checkbox_rounded-ripple-in .5s cubic-bezier(.4, 0, 0, 1);
        -o-animation: ec-checkbox_rounded-ripple-in .5s cubic-bezier(.4, 0, 0, 1);
        animation: ec-checkbox_rounded-ripple-in .5s cubic-bezier(.4, 0, 0, 1);
    }
}

@media (pointer:fine) {
    .ec-btn_more:hover.-inverse svg {
        color: #fff;
    }
}


/* button animation */

.rounded-circle {
    border-radius: 50% !important;
}

.text-light {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}

.text-light {
    color: #697587 !important;
}




.py-lg-16 {
    padding-bottom: 7.5rem !important;
    padding-top: 7.5rem !important;
}

.red {
    color: #F83600;
}

.ccc {
    color: #cccccc;
}

.line-height {
    line-height: 88px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.primary-gradient {
    background: linear-gradient(90deg, #F83600 0%, #F9D423 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bg-grey {
    background: #EFEFEF;
}

.btn-primary-soft {
    color: #5143d9;
    background-color: rgba(81, 67, 217, 0.1);
}

.our-services {}

.cmargin {
    margin-top: 15% !important;
}

@media (max-width:320px) {
    .cmargin {
        margin-top: 2% !important;
    }

    .stickyLogo {
        display: none;
    }
}

@media (max-width:480px) {
    .cmargin {
        margin-top: 2% !important;
    }

    .stickyLogo {
        display: none;
    }

    .hero-img {
        height: 300px;
    }

    .w-sm-100 {
        width: 100%;
    }
}

.hint-red {
    background: #F7F4F2;
}

.number {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px;
}

.product {
    color: #b7b9c1;
}

.inline-block {
    display: inline-block;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fw-500 {
    font-weight: 500;
}

.stickyLogo {
    position: sticky;
    top: 0;
    left: 0;
}

.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.free-tech {
    width: 420px;
    height: 320px;
}

@media (max-width:480px) {
    .free-tech {
        width: 360px;
        height: 280px;
    }
}

.pt-200 {
    padding-top: 200px;
}

@media (max-width:480px) {
    .pt-200 {
        padding-top: 40px;
    }
}

.pt-100 {
    padding-top: 100px;
}

@media (max-width:480px) {
    .pt-200 {
        padding-top: 40px;
    }
}

.process-bg {
    display: inline-grid;
    justify-items: center;
    height: 350px;
}

@media (min-width:480px) {
    .process-bg {
        display: inline-grid;
        justify-items: center;
        height: 550px;
    }
}

/* our process card */
.custom_domains-list__item-title>h2,
.custom_domains-list__item-title>h3,
.custom_domains-list__item-title>h4,
.custom_domains-list__item-title>h5,
.custom_domains-list__item-title>h6 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 25px;
}

@media (min-width: 768px) {

    .custom_domains-list__item-title>h2,
    .custom_domains-list__item-title>h3,
    .custom_domains-list__item-title>h4,
    .custom_domains-list__item-title>h5,
    .custom_domains-list__item-title>h6 {
        font-size: 24px;
        line-height: 29px;
    }
}

@media (min-width: 1024px) {

    .custom_domains-list__item-title>h2,
    .custom_domains-list__item-title>h3,
    .custom_domains-list__item-title>h4,
    .custom_domains-list__item-title>h5,
    .custom_domains-list__item-title>h6 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (min-width: 1200px) {

    .custom_domains-list {
        display: inline-block;
        height: 73.3333333333vw;
        position: relative;
    }

    .custom_domains-list__item-inner {
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        position: relative;
        overflow: hidden;
        transition: opacity 0.25s ease;
    }

    .custom_domains-list__item-title {
        position: relative;
    }

    .custom_domains-list__item-title>svg {
        display: inline-block;
        height: 45px;
        width: 45px;
        position: absolute;
        top: 0;
        left: -64px;
        transition: transform 0.25s ease;
        transform: rotate(0deg);
    }

    .custom_domains-list__item-title>svg>circle {
        fill: #4F5F7C;
        transition: fill 0.25s ease;
    }

    .custom_domains-list__item-title>svg>path {
        fill: #fff;
    }

}

@media (min-width: 1200px) and (pointer: fine) {
    .custom_domains-list__item-card:hover {
        color: #28292B;
        z-index: 2;
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-title {
        color: #000;
        transition: color 0.25s ease;
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-title>svg {
        cursor: pointer;
        pointer-events: auto;
        transform: rotate(135deg);
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-title>svg>path {
        fill: #fff;
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-title>svg>circle {
        fill: #4F5F7C;
    }

    .custom_domains-list__item-card:hover:before {
        background-color: rgba(255, 255, 255, 0.95);
        transform: translate3d(0, 0, 0);
        transition: background-color 0.25s ease, transform 0.25s ease;
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-inner {
        max-height: none;
        opacity: 1;
        pointer-events: auto;
    }
}


@media (min-width: 1200px) and (pointer: fine) {
    .custom_domains-list__item-card:hover {
        z-index: 2;
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-title {
        cursor: pointer;
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-title>svg {
        transform: rotate(270deg);
    }

    .custom_domains-list__item-card:hover .custom_domains-list__item-title>svg>circle {
        fill: #dc3545;
    }

    .custom_domains-list__item-card.open:hover .custom_domains-list__item-title {
        cursor: text;
    }

    .custom_domains-list__item-card.open:hover .custom_domains-list__item-title>svg {
        transform: rotate(135deg);
    }

    .custom_domains-list__item-card.open:hover .custom_domains-list__item-title>svg>circle {
        fill: #4F5F7C;
    }

    .custom_domains-list__item-card.open:hover .custom_domains-list__item-title>svg:hover>circle {
        fill: #dc3545;
    }
}


/* our process card */

/* scroll down btn */

/* scroll down btn */


/* Owl */
.bg-blue {
    border-radius: 8px;
    background: radial-gradient(circle, #d8e3ED80 0, #b2c5D980 100%);
}

.bg-grey {
    border-radius: 8px;
    background: radial-gradient(circle, #dfe0DC70 0, #d1cFB870 100%);
}

.column {
    padding: 41px 28px 50px;
    margin: 64px 0 0;
    box-shadow: none;
    animation: float 6s ease-in-out infinite;
}

.column.bg-grey {
    animation: float 7s ease-in-out infinite;
}

/* Owl */

/* work */
.card {
    --si-card-border-radius: 0.5rem;
    --si-card-inner-border-radius: calc(0.5rem - 1px);
    --si-card-img-overlay-padding: 1.5rem;
}

.card-portfolio {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.card-portfolio .card-img {
    border-radius: var(--si-card-border-radius);
    transform: translateZ(0);
    overflow: hidden;
}

.card-portfolio .card-img>img {
    display: block;
    transition: transform .35s ease-in-out;
}

.card-portfolio .card-body {
    padding-right: 0;
    padding-left: 0;
}

@media(min-width: 768px) {
    .card-portfolio .card-portfolio-meta {
        transition: opacity .35s ease-in-out;
        opacity: 0;
    }

    .card-portfolio:hover .card-img>img {
        transform: scale(1.05);
    }

    .card-portfolio:hover .card-portfolio-meta {
        opacity: 1;
    }
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: var(--si-card-img-overlay-padding);
    border-radius: var(--si-card-inner-border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: var(--si-card-inner-border-radius);
    border-top-right-radius: var(--si-card-inner-border-radius);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: var(--si-card-inner-border-radius);
    border-bottom-left-radius: var(--si-card-inner-border-radius);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

@media(min-width: 768px) {
    .card-portfolio .card-portfolio-meta {
        transition: opacity .35s ease-in-out;
        opacity: 0;
    }

    .card-portfolio:hover .card-img>img {
        transform: scale(1.05);
    }

    .card-portfolio:hover .card-portfolio-meta {
        opacity: 1;
    }
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}

/* work */


.my-200 {
    margin-top: 200px;
    margin-bottom: 200px;
}

@media (max-width:480px) {
    .my-200 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

textarea.form-control {
    min-height: calc(10.5em + 0.75rem + 2px);
}

.dropdown-item {
    display: block;
    width: 100%;

}

.pt-60 {
    padding-top: 20px !important;
}

@media (min-width:480px) {
    .pt-60 {
        padding-top: 60px !important;
    }

    .pb-130 {
        padding-bottom: 130px !important;
    }

    .mt-30 {
        margin-top: 30px !important;
    }
}

@media (max-width:460px) {
    .w-mb-100 {
        width: -webkit-fill-available;
    }

    .avatar-img {
        width: 360px !important;
    }
}


.inner-btn .btn {
    background: #fff !important;
    color: #000;
    border: 0 !important;
    padding: .5rem 1rem;
    font-size: .75rem;
    border-radius: 17px;
    position: relative;
    z-index: 2;
    transition: all ease .3s;
}

.inner-btn .btn:hover {
    color: #fff;
    background: #3d65ff !important;
}

.inner-btn .btn img {
    max-width: 16px;
}

.item .img:hover .inner-btn {
    top: 0;
    opacity: 1;
    transition: all ease .3s;
    transform: scale(1);
}


.avatar-img {
    width: 580px;
}

.pb-130 {
    padding-bottom: 30px !important;
}

.mt-30 {
    margin-top: 10px !important;
}

.mt-n60 {
    margin-top: -60px !important;
}

.mt-n30 {
    margin-top: -30px !important;
}

.ms-n30 {
    margin-left: -30px !important;
}

.me-100 {
    margin-right: 100px !important;
}

.card-hover {
    --si-card-icon-hover-color: #6366f1;
}

.bg-secondary {
    --si-bg-opacity: 1;
    background-color: #f3f6ff !important;
}

.bg-light {
    --si-bg-opacity: 1;
    background-color: rgba(var(--si-light-rgb), var(--si-bg-opacity)) !important;
}

.btn-icon {
    --ar-btn-size: 3rem;
    flex-shrink: 0;
    /* width: var(--ar-btn-size);
    height: var(--ar-btn-size); */
}

.btn-icon.btn-xs {
    --ar-btn-size: 1rem;
    --ar-btn-font-size: calc(var(--ar-body-font-size) * 0.75);
}

.btn-icon.btn-sm,
.btn-group-sm>.btn-icon.btn {
    --ar-btn-size: 2.25rem;
}

.btn-icon.btn-lg,
.btn-group-lg>.btn-icon.btn {
    --ar-btn-size: 3.5rem;
}

.btn-icon.btn-xl {
    --ar-btn-size: 4.5rem;
    --ar-btn-font-size: calc(var(--ar-body-font-size) * 1.125);
}

.btn-icon>.ai-play,
.btn-icon>.ai-play-filled {
    margin-left: .1875rem;
}

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active {
    border-color: #405de6 !important;
    background-color: #405de6 !important;
    color: #fff !important;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
    border-color: #405de6 !important;
    background-color: #405de6 !important;
    color: #fff !important;
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
    border-color: #405de6 !important;
    background-color: #405de6 !important;
    color: #fff !important;
}

.rounded-4 {
    border-radius: var(--ar-border-radius-xl) !important;
}

.nav-tabs {
    --si-nav-tabs-border-width: 0;
    --si-nav-tabs-border-color: transparent;
    --si-nav-tabs-border-radius: 0.375rem;
    --si-nav-tabs-link-hover-border-color: transparent;
    --si-nav-tabs-link-active-color: #fff;
    --si-nav-tabs-link-active-bg: #6366f1;
    --si-nav-tabs-link-active-border-color: transparent;
    border-bottom: var(--si-nav-tabs-border-width) solid var(--si-nav-tabs-border-color);
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    transition: opacity .15s linear;
}

@media(prefers-reduced-motion: reduce) {
    .fade {
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.card-text {
    margin-bottom: 1.5rem;
}

.btn-icon {
    --ar-btn-size: 3rem;
    flex-shrink: 0;
    width: var(--ar-btn-size);
    height: var(--ar-btn-size);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.pt-sm-2 {
    padding-top: .5rem !important;
}

.content-space-md-1 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

.banner-start {
    position: relative;
}

.banner-start {
    position: relative;
    z-index: 1;
}

.banner-start::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 22%, rgba(0, 189, 142, .1) 22%);
    content: "";
}

@media (max-width:767.98px) {
    .banner-start::after {
        height: 80%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(0, 189, 142, .1) 0);
    }
}

.list-group-minimal .list-group-item {
    border: 0;
    padding-left: 0;
    padding-right: 0;
}

.icon-box {
    position: relative;
    display: inline-flex;
    width: 3.5rem;
    min-width: 3.5rem;
    height: 3.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.icon-box[class*="-sm"] {
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.125rem;
}

.icon-box[class*="-lg"] {
    min-width: 4.5rem;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.5rem;
}

/* Blockchain */
.blockchain {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.639vw;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.01em;
    text-transform: uppercase;
}

.bg-purple {
    background-color: #7245f0;
}

.big-p {
    margin-bottom: 2.778vw;
    font-size: 3.333vw;
    line-height: 1.1;
    letter-spacing: -.005em;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.w-container:before,
.w-container:after {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-container:after {
    clear: both;
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px;
}

@media screen and (max-width:991px) {

    .w-container {
        max-width: 728px;
    }

    .big-p {
        margin-bottom: 5px;
        font-size: 24px;
        line-height: 1.4;
    }

    .div-block-16 {
        margin-left: 60px;
    }
}

.my-services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
    margin-top: 150px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.div-block-8 {
    width: 100px;
    margin-top: 0px;
}

.big-digits {
    display: inline-block;
    margin-top: -200px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 300;
}

.vertical-text_container {
    position: static;
    margin-top: 50px;
}

.line {
    position: relative;
    width: 60px;
    height: 2px;
    margin-top: 0px;
    margin-left: 160px;
    background-color: #77787a;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #77787a;
}

.vertical-text_2 {
    width: 130px;
    margin-top: 140px;
    margin-left: 125px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}


._2-services {
    margin-left: 200px;
}


.ux-ui-service-headline {
    display: inline-block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 65px;
    line-height: 65px;
    font-weight: 300;
}

.bold-text-2-copy {
    font-size: 65px;
    line-height: 65px;
    letter-spacing: 5px;
}

.paragraph-ux-ui-service-paragraph {
    width: 400px;
    margin-top: 20px;
    margin-left: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.development {
    margin-top: 60px;
    margin-left: 0px;
}

@media screen and (min-width: 1920px) {
    .big-digits {
        margin-top: -40px;
    }

    .vertical-text_2 {
        margin-top: 130px;
        font-size: 30px;
        line-height: 45px;
    }

    .paragraph-ux-ui-service-paragraph {
        width: 600px;
        margin-left: 0px;
        font-size: 24px;
        line-height: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .vertical-text_2 {
        width: 200px;
        margin-left: 90px;
        font-size: 24px;
    }

    .paragraph-ux-ui-service-paragraph {
        width: 500px;
        margin-left: 0px;
        font-size: 20px;
        line-height: 34px;
    }
}

@media screen and (max-width: 991px) {
    .paragraph-ux-ui-service-paragraph {
        width: 350px;
    }
}

@media screen and (max-width: 767px) {
    .div-block-16 {
        margin-left: 0px;
    }

    ._2-services {
        margin-left: 120px;
    }

    .bold-text-2-copy {
        font-size: 30px;
    }

    .w-row,
    .w-container .w-row {
        margin-left: 0;
        margin-right: 0
    }

    .paragraph-ux-ui-service-paragraph {
        width: 250px;
    }

    .vertical-text_2 {
        margin-left: 105px;
    }
}

@media screen and (max-width: 479px) {
    .div-block-16 {
        margin-left: -290px;
    }

    .div-block-8 {
        margin-left: 20px;
    }

    .w-container {
        max-width: none
    }

    .my-services {
        display: -ms-grid;
        display: grid;
        margin-top: 140px;
        grid-auto-columns: 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    }

    .big-digits {
        margin-top: -165px;
    }

    .ux-ui-service {
        margin-top: 60px;
        margin-left: -115px;
    }

    .paragraph-ux-ui-service-paragraph {
        margin-top: 0px;
    }


}

/* .hover-2 {
    --c: green;
    
    --b: .1em;
    
    --d: 10px;
    
    --_s: calc(var(--d) + var(--b));
    color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
        conic-gradient(at left var(--d) bottom var(--d),
            #0000 90deg, rgb(255 255 255 /0.5) 0 2deg, rgb(255 255 255 /0.5)) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
            #0000 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
    transform: translate(calc(var(--d)/-1), var(--d));
    clip-path:
        polygon(var(--d) 0%,
            var(--d) 0%,
            100% 0%,
            100% calc(100% - var(--d)),
            100% calc(100% - var(--d)),
            var(--d) calc(100% - var(--d)));
    transition: 0.5s;
}

.hover-2:hover {
    transform: translate(0, 0);
    clip-path:
        polygon(0% var(--d),
            var(--d) 0%,
            100% 0%,
            100% calc(100% - var(--d)),
            calc(100% - var(--d)) 100%,
            0% 100%);
} */

/*industries*/
.cards-container {
    position: relative;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    perspective: 500px;
}

.offer-card {
    position: relative;
    width: 275px;
    height: 350px;
    /* background: #000; */
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    overflow: hidden;
    /* margin-top: 45px; */
    margin-bottom: 0;
}

@media (hover:hover) {
    .cards-container:hover .offer-card {
        transform: rotateY(25deg);
        transition: 0.5s;
        padding: 0;
    }

    .cards-container .offer-card:hover~.offer-card {
        transform: rotateY(-25deg);
        transition: 0.5s;
    }

    .cards-container .offer-card:hover {
        transform: rotateY(0deg);
        transition: 0.5s;
        z-index: 1;
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    }
}

.cards-container .offer-card .card-img:before {
    opacity: 1;
    margin: 0;
    padding: 0;
}

.gap-2 {
    margin: 0;
}

.cards-container .offer-card .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.hover-card:hover {
    transform: scale(1.1);
    transition: .75s;
}

/*process*/

.abbr-tag {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important
}

.tooltip1 {
    position: relative;
    display: inline-block;
}

.tooltip1 .tooltip1text {
    visibility: hidden;
    width: 100%;
    background-color: white;
    /* text-align: center; */
    border-radius: 6px;
    padding: 5px 0;
    font-size: 14px;
    margin-left: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip1:hover .tooltip1text {
    visibility: visible;
}

.card-content {
    display: 'none'
}

#section-1 {
    display: 'none'
}

.make-it-slow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.nav-img {
    width: 32px !important;
}



.text--random [data-scroll='out'] .char:nth-of-type(4) {
    -webkit-transform: translateX(-51%) translateY(250%);
            transform: translateX(-51%) translateY(250%);
}





