
body{
    background-color: #000000 !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}
/* .navBar{
    background-color: #121212 !important;
} */
.backGrnd{
    background-repeat: repeat-y !important;
}
.bg-alternate{
    background-color: 
    #141414 !important;
}
.font-1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    color: white ;
}
.font-11{
    font-family: 'Epilogue', sans-serif;
}
.font-2{
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
}
/* work page */
.Z-index{
    z-index: -1 !important;
}
.colorbg{
    position: fixed !important;
}
.Z-index-2{
    z-index: 1 !important;
}
/* .mainSectionImage{
    background-color: transparent !important;
} */
.user-focused{
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: .9rem;
    letter-spacing: 3px;
}
.are-you-looking{
    font-family: "Epilogue", sans-serif;
    font-weight: 520;
    font-size: 3rem !important;
}
.stunning{
    background: linear-gradient(
        to right, #F83600
        ,#F9D423);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Luckiest Guy', cursive;
}
.common-font{
    font-family: 'Epilogue', sans-serif;
    color: white;
}
.image-1{
    margin-top: -1% !important;
}
.we-build{
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Epilogue", sans-serif;
}
@media (min-width: 375.98px) and (max-width: 760.98px) {
    .we-build{
        font-size: 1.4rem !important;
        font-weight: 800;
        font-family: "Epilogue", sans-serif;
    }
}
.letsTalk{
    font-size: 15px !important;
    background: #FED11B !important;
    color: #121212 ;
    font-family: "Epilogue", sans-serif !important;
    font-weight: 500;
}




/* .letsTalk {
    height: 50px;
    margin: 5px;
    width: 120px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #404C5D 1px;
    font-size: 16px;
    color: rgb(161, 161, 161);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 5px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465B, 
                 5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465B, 
                 5px  5px 15px #41465B, 
      inset      5px  5px 10px #212121, 
      inset     -5px -5px 10px #212121;
  }
  
  .letsTalk:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                      -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .letsTalk:active {
    -webkit-box-shadow: 1px 1px 13px #20232e,
                       -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e,
               -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  } */





.Growth{
    color: white;
    font-weight: 550;
}
.iconBg-1{
    border-radius: 50%;    
}
.bgChange{
    background: black !important;
}
.bgChange:hover{
    background: #ffffff !important;
}
.index{
    z-index: 5 !important;
}

.cardds{
    color: white !important;
}
.cardds-4{
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
}
.cardds-4:hover{
    position: relative;
    display: grid;
    /* place-items: center; */
    background-color: #222222 !important;
    overflow: hidden;
    border-radius: 3px;
    border: 0;
}
.cardds-4:hover::before{
    content: '';
    width: 120px;
    height: 600px;
    left: 60px;  
    top: -120px;
    background: linear-gradient(90deg, #F83600 0%, #F9D423 100%);
    position: absolute;
    animation: animate 5s linear infinite;
}

.cardds-4:hover:after{
    content:'';
    position: absolute;
    place-content: center;
    background:black;
    inset: 2px;
    border-radius: 5px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
.colour{
    color:#391400;
    background: #F7F7F7;
    /* transition: 1s linear; */
}
/* .cardds:hover .colour{
    color: white;
    background-color: #121212;
    transition: .5s ease-in-out;
 } */
 /* .colour-1{
    color:white;
    background: #121212;
} */
/* .cardds:hover .colour-1{
    color: #391400;
    background: white !important;
    transition: .5s ease-in-out;
 } */
 /* .white-bg:hover{
    background-color: white !important;
    transition: .2s ease-in-out;
 } */
/* .cardds:hover{
    background-color: #121212;
    transition: .5s ease-in-out;
} */
.cardds:hover .rotation{
    transform: rotate(360deg);
    box-shadow: none !important;
}
.rotation:hover{
    transform: rotate(360deg);
    transition: .5s;
}
.rotation{
    transition: .5s linear;
}
.visibilityNone{
    visibility: hidden;
}

.font-3{
    font-family: 'Poppins', sans-serif;
    color: white;
}
.round-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F83600;
    border-radius: 50%;
    padding: 15px;
}
.Opacity{
    opacity: 0.2;
}
.Opacity-1{
    opacity: 0.6;
    color: #ffffff;
}
.cardWidth{
    width: fit-content !important;
}
.visiBility{
    visibility: hidden !important;
}
.cardsBorder{
    border: solid #121212 ;
}
.Saas{
    background-color: #E7EBFC;
    border-radius: 50%;
}
.quoteImg{
    position: relative;
    top: 0.7rem;
    left: 85%;
    z-index: 1;
    width: fit-content !important;
}
.faq{
    color: #EF6D58 ;
    font-family: 'Epilogue', sans-serif;
}
.accordionHeading{
    color: white !important;
    font-weight: 600;
    font-size: 1rem !important;
}
/* .accordionTextFontColor{
    color: #391400;
} */
.accordionBg{
    background-color: black !important;
}
.bg-darkkk{
    background-color: #000000 !important;
}
/* footer  starts */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 3% 10%;
}
footer h1 {
    font-size: 4rem;
}
footer p {
    font-size: 15px;
}

footer p a {
    text-decoration: none;
    color: lightgray;
}

i {
   color: #ffffff;
}
.btn:hover i {
    color: #000000;
}

@media (max-width: 580px) {
    footer h1 {
        font-size: 3rem;
    }

    footer p {
        font-size: 12px;
    }
}
.caard-1{
    /* height: 300px; */
    transition: transform .2s ease-in;
}
.caard-1:hover{
    transform: scale(1.01);
    box-shadow: 11px 11px 11px rgba(33,33,33,.2);
}

.colors3{
    transition: .5s linear;
    opacity: 0.5;
    transform: translateX(-25px);
}

.caard-2:hover .colors3 {
    visibility: visible !important;
    transform: translateX(0);
    opacity: 1;
}
.carouselImage-1{
    z-index: 1;
}
.carouselImage{
    z-index: 3 !important;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .carouselImageHeight {
        height: 26rem !important;
    }
}

@media (min-width: 1399.98px) {
    .carouselImageHeight {
        height: 19.2rem !important;
    }
}
@media (min-width: 375.98px) and (max-width: 760.98px) {
    .carouselImageHeight {
        height: 26.1rem !important;
    }
}

@media (min-width: 375.98px) and (max-width: 760.98px) {
    .haveAn {
        font-size: 2.8rem !important;
    }
}
@media (min-width: 365.98px) and (max-width: 760.98px) {
    .thisIs{
        font-size: 1.8rem !important;

    }
}
.example::-webkit-scrollbar {
    display: none;
  }
  .example {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
.topStickyImage{
    width: fit-content ;
}
/* industries page start*/
.fire-text{
    color: #EF6C57;
}
.industries{
    font-weight: 700;
}
.main-text{
    color: rgb(#ffffff);
    opacity: 0.6;
}
.main-text-1{
    color: #B1CCFB;
    opacity: 0.6;
}
.industries-btn:hover{
    background: #437EF7;
    border: 0 !important;
}
.card-bg{
    background-color: #ffffff;
    
}
.saas-colour{
    font-weight: 500;
}
/* .icon-bg{
    background-color: #437EF7;
} */
#clock span{
    background-color: #437EF7;
}
.industry-last-button{
    background-color: #EF6C57 !important;
}
.industry-last-button:hover{
    background-color: #EF6C57;
}
/* industries page ends*/

/* about us page */
.about-us-card{
    position: absolute;
    right: 43%;
    top: 1%;
}
/* about us page ends */

/* contact us page */
.contact-us-mail:hover{
    color: lightgreen !important;
}
.input-2 {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    border:0;
}
.contact-types:hover{
    background-color: #437EF7;
}
/* services page start */
.arrow-1:hover .arrow{
    visibility: visible !important;
}
.text-blue:hover{
    color: #437EF7 !important;
}
.services-photo-bg{
    
        background-image: url("/assets/group-photo.jpg");
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 13rem;
        text-align: center;
        font-weight: bold;
        /* text-transform: uppercase; */
        font-weight: 800;
        -webkit-font-smoothing: antialiased;
}

/* new css  */
.cards-text{
    color: #000000;
    font-size: .9rem;
    font-family: "Epilogue", sans-serif;
}
.cards-section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.text--random [data-scroll='out'] .char:nth-of-type(4) {
  -webkit-transform: translateX(-51%) translateY(250%);
          transform: translateX(-51%) translateY(250%);
}


.carousel-dots{
    position: absolute;
    bottom: -4rem !important;
}

.btn-outline-warning:hover{
    color: black !important;
}

.lorem{
    background: #FF6337 !important;
}
.img-hvr:hover .img-2{
    display: inline !important;

}
.img-hvr:hover .img-1{
    display: none !important;
}




/* dummy industries page */

.main-container{
object-position: left;
position: absolute;
    
}
.margin{
    margin-left: 25rem;
}

@media (min-width: 820px) and (max-width: 1180px) {
    .margin {
        margin-left: 4rem;
        
    }
}

@media (min-width: 375.98px) and (max-width: 850px) {
    .margin {
        margin-left: 0rem;
        
    }
}


.indus-div-height{
    height: 25rem;
    margin-top: 10rem;
}

/* @media (min-width: 820px) and (max-width: 1180px) {
    .indus-div-height {
        height: 13rem;
        margin-top: 10rem;
        
    }
} */

@media (min-width: 375.98px) and (max-width: 850px) {
    .indus-div-height {
        height: 17rem;
        margin-top: 0;
    }
}

