body {
    background-color: #141213 !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    color: #ffffff !important;
}

/* .navBar{
    background-color: #121212 !important;
} */
.backGrnd {
    background-repeat: repeat-y !important;
}

.bg-alternate {
    background-color:
        #141414 !important;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

/* work page */
.Z-index {
    z-index: -1 !important;
}

.colorbg {
    position: fixed !important;
}

.Z-index-2 {
    z-index: 1 !important;
}

/* .mainSectionImage{
    background-color: transparent !important;
} */
.user-focused {
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: 650;
    line-height: 2rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.are-you-looking {
    font-family: 'Jost', sans-serif;
    font-weight: 520;
    font-size: 3rem !important;
}

.stunning {
    background: linear-gradient(to right, #F83600, #F9D423);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Luckiest Guy', cursive;
}

.jost-font {
    font-family: 'Jost', sans-serif;
    color: white;
}

.image-1 {
    margin-top: -1% !important;
}

.we-build {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: "Epilogue", sans-serif;
}

@media (min-width: 375.98px) and (max-width: 760.98px) {
    .we-build {
        font-size: 1.4rem !important;
        font-weight: 800;
        font-family: "Epilogue", sans-serif;
    }
}

.letsTalk {
    font-size: 15px !important;
    background: #FED11B !important;
    color: #121212;
    font-family: "Epilogue", sans-serif !important;
    font-weight: 500;
}

.Growth {
    color: white;
    font-weight: 550;
}

.iconBg-1 {
    border-radius: 50%;
}

.bgChange {
    background: black !important;
}

.bgChange:hover {
    background: #ffffff !important;
}

.index {
    z-index: 5 !important;
}

.cardds {
    color: white !important;
}

.cardds-4 {
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
}


.colour {
    color: #391400;
    background: #F7F7F7;
}

.cardds:hover .rotation {
    transform: rotate(360deg);
    box-shadow: none !important;
}

.rotation:hover {
    transform: rotate(360deg);
    transition: .5s;
}

.rotation {
    transition: .5s linear;
}

.visibilityNone {
    visibility: hidden;
}

.round-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F83600;
    border-radius: 50%;
    padding: 15px;
}

.Opacity {
    opacity: 0.2;
}

.Opacity-1 {
    opacity: 0.6;
    color: #ffffff;
}

.cardWidth {
    width: fit-content !important;
}

.visiBility {
    visibility: hidden !important;
}

.cardsBorder {
    border: solid #121212;
}

.Saas {
    background-color: #E7EBFC;
    border-radius: 10px;
    height: 6rem;
    width: 6rem;
}

.quoteImg {
    position: relative;
    top: 0.7rem;
    left: 85%;
    z-index: 1;
    width: fit-content !important;
}

.faq {
    color: #EF6D58;
    font-family: 'Epilogue', sans-serif;
}

.accordionHeading {
    color: white !important;
    font-weight: 600;
    font-size: 1rem !important;
}

.accordionBg {
    background-color: black !important;
}

.bg-darkkk {
    background-color: #000000 !important;
}

/* footer  starts */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 3% 10%;
}

footer h1 {
    font-size: 4rem;
}

footer p {
    font-size: 15px;
}

footer p a {
    text-decoration: none;
    color: lightgray;
}

i {
    color: #ffffff;
}

.btn:hover i {
    color: #000000;
}

@media (max-width: 580px) {
    footer h1 {
        font-size: 3rem;
    }

    footer p {
        font-size: 12px;
    }
}

.caard-1 {
    /* height: 300px; */
    transition: transform .2s ease-in;
}

.caard-1:hover {
    transform: scale(1.01);
    box-shadow: 11px 11px 11px rgba(33, 33, 33, .2);
}

.colors3 {
    transition: .5s linear;
    opacity: 0.5;
    transform: translateX(-25px);
}

.caard-2:hover .colors3 {
    visibility: visible !important;
    transform: translateX(0);
    opacity: 1;
}

.carouselImage-1 {
    z-index: 1;
}

.carouselImage {
    z-index: 3 !important;
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .carouselImageHeight {
        height: 26rem !important;
    }
}

@media (min-width: 1399.98px) {
    .carouselImageHeight {
        height: 19.2rem !important;
    }
}

@media (min-width: 375.98px) and (max-width: 760.98px) {
    .carouselImageHeight {
        height: 26.1rem !important;
    }
}

@media (min-width: 375.98px) and (max-width: 760.98px) {
    .haveAn {
        font-size: 2.8rem !important;
    }
}

@media (min-width: 365.98px) and (max-width: 760.98px) {
    .thisIs {
        font-size: 1.8rem !important;

    }
}

.example::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.topStickyImage {
    width: fit-content;
}

/* industries page start*/
.fire-text {
    color: #EF6C57;
}

.industries {
    font-weight: 700;
}


.industries-btn:hover {
    background: #437EF7;
    border: 0 !important;
}

.card-bg {
    background-color: #ffffff;

}

.saas-colour {
    font-weight: 500;
}

#clock span {
    background-color: #437EF7;
}

.industry-last-button {
    background-color: #EF6C57 !important;
}

.industry-last-button:hover {
    background-color: #EF6C57;
}

/* industries page ends*/

/* about us page */
.about-us-card {
    position: absolute;
    right: 43%;
    top: 1%;
}

/* about us page ends */

/* contact us page */
.contact-us-mail:hover {
    color: lightgreen !important;
}

.input-2 {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    border: 0;
}

.contact-types:hover {
    background-color: #437EF7;
}

/* services page start */
.arrow-1:hover .arrow {
    visibility: visible !important;
}

.text-blue:hover {
    color: #437EF7 !important;
}

.services-photo-bg {

    background-image: url("/assets/group-photo.jpg");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13rem;
    text-align: center;
    font-weight: bold;
    /* text-transform: uppercase; */
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

/* new css  */
.cards-text {
    color: #000000;
    font-size: .9rem;

}

.cards-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text--random [data-scroll='out'] .char:nth-of-type(4) {
    -webkit-transform: translateX(-51%) translateY(250%);
    transform: translateX(-51%) translateY(250%);
}


.carousel-dots {
    position: absolute;
    bottom: -4rem !important;
}

.btn-outline-warning:hover {
    color: black !important;
}

.lorem {
    background: #282828 !important;
}





/* dummy industries page */

.main-container {
    object-position: left;
    position: absolute;

}

.margin {
    margin-left: 25rem;
}

@media (min-width: 820px) and (max-width: 1180px) {
    .margin {
        margin-left: 4rem;

    }
}

@media (min-width: 375.98px) and (max-width: 850px) {
    .margin {
        margin-left: 0rem;

    }
}


.indus-div-height {
    height: 25rem;
    margin-top: 10rem;
}

@media (min-width: 370px) and (max-width: 850px) {
    .indus-div-height {
        height: 17rem;
        margin-top: 0;
    }
}


.flo-container {
    width: 100vw;
    justify-content: center;
    display: flex;
    /* position: relative; */
    height: 60vh;
    margin-top: 3rem;
}

@media (min-width: 820px) and (max-width: 1180px) {
    .flo-container {
        height: 20vh;
    }
}

@media (min-width: 375.98px) and (max-width: 850px) {
    .flo-container {
        height: 35vh;
    }
}

@media (min-width: 370px) and (max-width: 670px) {
    .flo-container {
        height: 40vh;
    }
}

.image {
    width: 100%;
    position: relative;
}

.image-flow {
    position: absolute;
    right: -2%;
    overflow-x: auto;
    z-index: -1;
}

.industries-text {
    margin-top: 6rem;
    margin-left: 15rem;
}

@media (min-width: 820px) and (max-width: 1180px) {
    .industries-text {
        margin-top: 0;
        margin-left: 5rem !important;
    }
}

@media (min-width: 375.98px) and (max-width: 850px) {
    .industries-text {
        margin-top: 0;
        margin-left: 0rem;
    }
}

@media (min-width: 370px) and (max-width: 670px) {
    .industries-text {
        margin-top: 0;
        margin-left: 0rem;
    }
}

.btnnn {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.btnnn span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    width: 100px;
    padding: 10px 0;
    margin: 35px;
    border-radius: 8px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    transition: transform 0.15s linear;
}

.color-01 span {
    background: linear-gradient(90deg, #EC5C1A, #F6CE61);
}


/* fonts in entire website */
.display-large {
    font-size: 3.625rem;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
}

.label-large {
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.body-medium {
    font-size: 1.125rem;
    font-family: 'Open Sans' !important;
}

.button-text {
    font-size: 1rem;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    line-height: 1.375rem;
    text-transform: capitalize;
}

.display-medium {
    font-size: 3rem;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: -0.0625rem;
}

.heading-small {
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    line-height: 2.125rem;
    letter-spacing: -0.02688rem;
}

.body-small {
    font-size: 1rem;
    font-family: Open Sans;
    line-height: 1.625rem;
    letter-spacing: -0.01813rem;
    /* opacity: 0.6; */
}

.label-medium {
    font-size: 0.875rem;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.00625rem;
}

.display-small {
    font-size: 2.25rem;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    line-height: 2.625rem;
    letter-spacing: -0.0225rem;
    text-transform: capitalize;
}

.body-large {
    font-size: 1.5rem;
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 2.625rem;
    letter-spacing: -0.015rem;
}

.label-small {
    font-size: 0.875rem;
    font-family: 'Open Sans';
    line-height: 1.625rem;
    letter-spacing: -0.01813rem;
}

/* colors in entire site */

.Grayish-Brown {
    color: #141213;
}

.Primary {
    color: #FED11B;
}

.Pale-Cream-or-Off-White {
    color: #FEF6EE;
}

.Opacity {
    color: #ffffff;
    opacity: 60%;
}

.Secondary-button-bg {
    color: #282828;
}

/* buttons in entire site */

.primary-button {
    background-color: #FED11B !important;
    font-family: 'Jost', sans-serif !important;
    color: #141213 !important;
    font-size: 0.9375rem !important;
    font-weight: 900 !important;
    line-height: 1.375rem !important;
    border-radius: 36px !important;
    padding-inline: 2rem !important;
}

.secondary-button {
    font-family: 'Jost', sans-serif !important;
    color: #ffffff !important;
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
    line-height: 1.375rem !important;
    border-radius: 36px !important;
    padding: 10px !important;
    padding-inline: 2rem !important;
    background: #282828 !important;
    letter-spacing: 1px;
}

.primary-outine-button {
    border: 1px solid #FED11B !important;
    background:#141213 !important;
    color: #FED11B !important;
    font-size: 1rem !important;
    font-family: 'Jost', sans-serif !important;
    font-weight: 500 !important;
    line-height: 1.375rem !important;
    border-radius: 36px !important;
    padding-inline: 2rem !important;
}

/* home page */

.yellow-section{
    background: #FED11B;
    border-radius: 50px;
}
.footer-bg{
    background-color: #141213;
}
.stars-bg{
    background-image: url("/assetss-change/images/stars-2.svg");
    width: 100%;
    overflow: hidden;
    z-index: 100;
    object-fit:cover;
    background-repeat: repeat-x;
}
.service-bg{
    background-image: url("/assetss-change/images/service-bg.svg");
    width: 100%;
    overflow: hidden;
    object-fit:cover;
    background-repeat:no-repeat;
}
.star{
    position: absolute;
    right: 14rem;
    top: 5rem;
}

@media (min-width: 820px) and (max-width: 1180px) {
    .star{
        position: absolute;
        right: 27rem;
        top: 9rem;
    }
}

@media (min-width: 390px) and (max-width: 819px) {
    .star{
        position: absolute;
        right: 11rem;
        top: 1rem;
    }
}

@media (min-width: 375px) and (max-width: 670px) {
    .star{
        position: absolute;
        right: 11rem;
        top: 13rem;
    }
}

/* process page starts */

.process-cards{
    border-radius: 10px;
}

/* about page */

.about-cards{
    background: #222222;
    border-radius: 10px;
}
#submitBtn:hover{
    border: 0;
    color: #141213;
}

.center{
    display: flex;
    justify-content: center;
}

/* app/web design */
.user-div{
    background: #ffffff;
    border-radius: 15px;
}

.this-involves{
    background: #ffffff;
    border-radius: 10px;
    padding: 50px;
    position: absolute;
    width:43%;
    height: 30rem;
    bottom: 0;
    /* right: 0; */
}
.middle{
    vertical-align: center !important;
    display: grid;
}
.yellow-img{
    position: absolute;
    left: 31%;
    z-index: -1;
}

@media (min-width: 820px) and (max-width: 1180px) {
    .yellow-img{
        position: absolute;
        left: 16%;
        z-index: -1;
    }
}

/* @media (min-width: 390px) and (max-width: 845px) {
    .yellow-img{
        position: absolute;
        left: 0%;
        z-index: -1;
    }
} */

@media (min-width: 375px) and (max-width: 670px) {
    .yellow-img{
        position: absolute;
        left: 0%;
        z-index: -1;
    }
}

/* ar/vr page */
.ar-vr-card{
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    padding: 30px;
}
.ar-vr-card-2{
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    padding: 50px;
}
.horizontal-cards{
    background-color: #ffffff;
    color: black;
    padding: 10px;
}
/* devops */
.devops-card{
    background-color: #141213;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px;
}
.devops-card-2{
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    padding: 20px;
}

/* blockchain */
.blockchain-img{
    position: absolute;
    right: 0;
    top:0
}
.bc-icon{
    background-color: #ffffff;
    border-radius: 60px;
}
/* industries */
.industries-img{
    position: absolute;
    /* right:0; */
    left: 30%;
    top: 0;
    z-index: -1;
}
.industry-img-size{
    width: 100%;
    height: 115%;
}

/* accordion button */



.accordion-button::after {
    /* flex-shrink: 0;
    width: 2.5rem !important;
    height: 2.5rem !important;
    width: 100%;
    margin-left: auto;
    content: "";
    background-image: url("/assetss-change/icons/accordion-btn-2.svg") !important;
    background-repeat: no-repeat;
    background-size: 2rem !important;
    background: #FED11B;
    transition: transform .2s ease-in-out;
    border-radius: 50px !important;
    padding: 10px 10px 10px 10px !important;
    align-items: center;
    display: flex;
    justify-content: center; */
}
